/* Write your CSS here */
.not-clicked {
  border-style: none;
  border-radius: 30px;
  border-width: 1px;

  list-style-type: none;

  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}
.clicked {
  border-style: solid;
  background-color: transparent;
  border-radius: 30px;
  border-width: 2px;
  border-color: #0284c7;
  color: #0284c7;

  list-style-type: none;

  height: 50px;
  font-size: 20px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 767px) {
  .not-clicked {
    font-size: 10px;
    margin-right: 10px;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .clicked {
    font-size: 10px;
    margin-right: 10px;
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.language-item {
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 400;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
}

@media (max-width: 767px) {
  .language-item {
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 400;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
